@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
--title-font:"Inter Tight";
--primary-color: #000000;
--primary-color-rgb: 184, 255, 101;
--secondary-color: #000000;
--secondary-color-rgb: 184, 255, 101;
--bg-color: #f7f2ec;
--bg-light: #F3F3F3;
--body-font-color:#929191;
--body-font-size: 17px;
/* --title-font-color: white; */
--title-font-color: #000000;
--title-font-weight: bold;
}

.d-menu-1 li a:after,
.d-menu-1 li a:before{
    display: none;
}

.text-fit,.d-menu-1 li a{
font-weight: 500;
}

.dark-scheme .d-menu-1 li a:after{
    display: none;
}

.d-menu-1 li.active {
    /* background: var(--primary-color); */
    /* color:  var(--primary-color) !important; */
    padding: 0 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.d-menu-1 li.active a {
    color: var(--primary-color);
    font-weight: 700;
}

a.btn-main,
a.btn-main:hover{
    color:#000000;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.dark-scheme .de-marquee-list .d-item-txt{
    font-size: 60px;
    margin: 0 40px;
}

.dark-scheme .de-marquee-list .d-item-txt:nth-child(even){
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: 0;
}

.owl-custom-nav .btn-prev:before,
.owl-custom-nav .btn-next:before{
    color:#000000;
}

#scrollToTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  display: none; /* Start hidden */
}

#scrollToTop.show {
  opacity: 1;
  display: flex !important; /* Show when scrolled */
}

html {
  scroll-behavior: smooth;
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-card .hover-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
  z-index: 999;
}

.news-card:hover .hover-overlay {
  opacity: 1;
}

.custom-media-btn {
  border: 1px solid #f8f9fa; /* Bootstrap’s light color */
  color: #fff;
  padding: 0.25rem 0.5rem; /* Equivalent to px-2 py-1 */
  border-radius: 0.3rem;    /* Equivalent to rounded-2 */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-media-btn:hover {
  background-color: white;
  transform: scale(1.05);
  color: #000000;
}